/*
8BitDo M30 Gamepad Viewer skin by @Animach1ne twitch.tv/animach1ne
CSS help from zantomun & BenInSweden
Original CSS by @jayraydee
Free for personal use and non-profit sharing!
*/
/*BEGIN 8BitDo M30 Controller Styling*/

.controller.custom{
    background: url(https://i.imgur.com/2AybQDC.png);
    width: 1500px;
    height: 759px;
}
.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(https://i.imgur.com/7BJl8PS.png);
/* The bumpers follow the same methodology as the triggers in terms of
placement */
}
.custom .bumper.pressed{ /* The '.pressed' class is used for most buttons to signify they've been pressed */
    opacity: 1;
}
.custom .bumper.left{
    background: url(https://i.imgur.com/MG38Oac.png);
    width: 345px;
    height: 63px;
    position: absolute;
    left: 194px;
    top: 4px;
    opacity: 0;
}
    .custom .bumper.left{
    background: url(https://i.imgur.com/5kgMzMg.png);
    width: 345px;
    height: 63px;
    position: absolute;
    left: 1111px;
    top: 4px;
    opacity: 0;
/*END 8bitDo M30 Controller Styling*/
