/*
8BitDo M30 Gamepad Viewer skin by @Animach1ne twitch.tv/animach1ne
*/

/* Base 8BitDo M30 */

.controller.custom{
    background: url(https://i.imgur.com/2AybQDC.png);
    width: 1500px;
    height: 759px;
}
.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(https://i.imgur.com/7BJl8PS.png);
}

/* Bumpers */

.custom .bumper{
    background: url(https://i.imgur.com/MG38Oac.png);
    width: 345px;
    height: 63px;
    opacity: 0;
}
.custom .bumpers{
    position: absolute;
    width: 1111px;
    height: 63px;
    left: 194px;
    top: 4px;
}
.custom .bumper.pressed{ /* The '.pressed' class is used for most buttons to signify they've been pressed */
    opacity: 1;
}
.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    -webkit-transform: rotateY(180deg);
    float: right;
}

/* Dpad */

.custom .dpad{	
    position: absolute;	
    width: 278px;	
    height: 280px;	
    top: 201px;	
    left: 228px;	
}
.custom .face{
    position: absolute;	
    background: url(https://i.imgur.com/vo7Eo6l.png);
    opacity: 0;
}
.custom .face.up{
    width: 71px;
    height: 138px;
    top: 0px;
    left: 104px;
}
.custom .face.down{
    -webkit-transform: rotateX(180deg);
    width: 71px;
    height: 138px;
    top: 142px;
    left: 104px;
}
.custom .face.left{
    width: 71px;
    height: 138px;
    transform-origin: bottom center;
    -webkit-transform: rotate(270deg);
    top: 0px;
    left: 138px;
}
.custom .face.right{
    width: 71px;
    height: 138px;
    transform-origin: bottom center;
    -webkit-transform: rotate(90deg);
    top: 0px;
    left: 278px;
}
.custom .face.pressed{
    opacity: 1;
}

/*END 8bitDo M30 Controller Styling*/
