/*
8BitDo M30 Gamepad Viewer skin by @Animach1ne twitch.tv/animach1ne
CSS help from zantomun & BenInSweden
Original CSS by @jayraydee
Free for personal use and non-profit sharing!
*/
/*BEGIN 8BitDo M30 Controller Styling*/

.controller.custom{
    background: url(https://i.imgur.com/2AybQDC.png);
    height: 759px;
    width: 1500px;
}

.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(https://i.imgur.com/7BJl8PS.png);
}

/* The bumpers follow the same methodology as the triggers in terms of
placement */
.custom .bumper{
    width: 345px;
    height: 63px;
    background: url(https://i.imgur.com/MG38Oac.png);
    opacity: 0;
}

.custom .bumper.pressed{ /* The '.pressed' class is used for most buttons to signify they've been pressed */
    opacity: 1;
}

.custom .bumper.left{
    position: absolute;
    left: 194px;
    top: 4px;
    float: left;
}

/* Dpad possitioning and sizing */
.custom .dpad{
    position: absolute;
    width: 140px;
    height: 132px;
    top: 192px;
    left: 74px;
}
.custom .face{
    background: url(https://i.imgur.com/vo7Eo6l.png);
    position: absolute;
}
.custom .face.up, .custom .face.down{
    width: 38px;
    height: 52px;
}
.custom .face.left, .custom .face.right{
    width: 52px;
    height: 38px;
}
.custom .face.up{
    left: 50px;
    top: 0;
    background-position: 92px 0px;
}
.custom .face.down{
    left: 50px;
    top: 79px;
    background-position: 131px 0;
}
.custom .face.left{
    top: 47px;
    left: 0;
    background-position: 0px 0;
}
.custom .face.right{
    top: 47px;
    right: 0px;
    background-position: 53px 0;
}
.custom .face.pressed{
    margin-top: 5px;
    background-position-y: 52px;
}

/*END 8bitDo M30 Controller Styling*/
