/*Genesis Controller Styling by Animach1ne*/
/* *********************************************************** */
.controller.custom{
    background: url(https://i.imgur.com/Zya66PC.png); 
    height: 297px;
    width: 781px;
}
.custom.disconnected {
    background: url(https://i.imgur.com/EtuaVMK.png);
}
.custom.disconnected div {
    display: none;
}
/* *********************************************************** */
.custom .start{
    position: absolute;
    background: url(https://i.imgur.com/KjI5TDK.png);
    width: 150px;
    height: 101px;
    top: 26px;
    left: 304px;
    opacity: 0;
}
.custom .start.pressed{
    opacity: 1;
}
/* *********************************************************** */
.custom .abxy{
    position: absolute;
    width: 758px;
    height: 251px;
    top: 23px;
    left: 347px;
}
/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;
    width:121px;
    height:121px;
    background: url(https://i.imgur.com/SK3yMYl.png);
    opacity: 0;
}
.custom .button.a.pressed{
    top: 130px;
    left: 0px;
    opacity: 1;
}
.custom .button.b.pressed{
    top: 56px;
    left: 141px;
    opacity: 1;
}
.custom .button.y.pressed{
    top: 0px;
    left: 290px;
    opacity: 1;
}
/* *********************************************************** */
.custom .dpad{
    position: absolute;
    width: 238px;
    height: 238px;
    top: 29px;
    left: 23px;
}
.custom .face{
    position: absolute;
    opacity: 0;
}
.custom .face.up{
    background: url(https://i.imgur.com/Fnb7wh2.png);
    width: 54px;
    height: 98px;
    left: 92px;
    top: 0px;
}
.custom .face.down{
    background: url(https://i.imgur.com/v3OXuu5.png);
    width: 54px;
    height: 98px;
    left: 92px;
    top: 140px;
}
.custom .face.left{
    background: url(https://i.imgur.com/QJWKQhk.png);
    width: 98px;
    height: 54px;
    left: 0px;
    top: 92px;
}
.custom .face.right{
    background: url(https://i.imgur.com/mCSgmtz.png);
    width: 98px;
    height: 54px;
    left: 140px;
    top: 92px;
}
.custom .face.pressed{
    opacity: 1;
}
/*END Genesis Controller Styling*/
