/*Generic input viewer by Animach1ne*/

/* Base Attributes */
.controller.custom{
    background: url(https://i.imgur.com/WGqq4id.png);
    width: 200px;
    height: 110px;
}
.custom.disconnected {
    background: url(https://i.imgur.com/i0uBS4u.png);
}

/* Dpad */
.custom .dpad{	
    position: absolute;	
    width: 48px;	
    height: 48px;	
    top: 36px;	
    left: 8px;	
}
.custom .face{
    background: url(https://i.imgur.com/jI8Iwmq.png);
    width: 16px;
    height: 16px;
    position: absolute;	
    opacity: 0;
}
.custom .face.up{
    top: 0px;
    left: 16px;
}
.custom .face.down{
    top: 32px;
    left: 16px;
}
.custom .face.left{
    top: 16px;
    left: 0px;
}
.custom .face.right{
    top: 16px;
    left: 32px;
}
.custom .face.pressed{
    opacity: 1;
}

/* AB */
.custom .button{
    background: url(https://i.imgur.com/jI8Iwmq.png);
    width: 16px;
    height: 16px;
    position: absolute;	
    opacity: 0;
}
.custom .button.a.pressed{
    top: 68px;
    left: 160px;
    opacity: 1;
}
.custom .button.b.pressed{
    top: 52px;
    left: 176px;
    opacity: 1;
}
.custom .button.x.pressed{
    top: 68px;
    left: 160px;
    opacity: 1;
}
.custom .button.y.pressed{
    top: 36px;
    left: 160px;
    opacity: 1;
}

/* Back & Start */
.custom .back{ 
    position: absolute;
    background: url(https://i.imgur.com/ILhzz1d.png);
    width: 16px;
    height: 8px;
    top: 36px;
    left: 74px;
    opacity: 0;
}
.custom .back.pressed{
    opacity: 1;
}
.custom .start{
    position: absolute;
    background: url(https://i.imgur.com/ILhzz1d.png);
    width: 16px;
    height: 8px;
    top: 36px;
    left: 110px;
    opacity: 0;
}
.custom .start.pressed{
    opacity: 1;
}

/* Bumpers */
.custom .bumper{
    background: url(https://i.imgur.com/9oe0ckJ.png);
    width: 32px;
    height: 8px;
    opacity: 0;
}
.custom .bumpers{
    position: absolute;
    width: 168px;
    height: 8px;
    left: 16px;
    top: 20px;
}
.custom .bumper.pressed{ 
    opacity: 1;
}
.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    -webkit-transform: rotateY(180deg);
    float: right;
}

/* Triggers */
 .custom .triggers{
    position: absolute;
    width: 168px;
    height: 8px;
    left: 16px;
    top: 8px;
} 
.custom .trigger{
    position: absolute;
    opacity: 0;
}
.custom .trigger-button.left.pressed{
    background: url(https://i.imgur.com/9oe0ckJ.png);
    width: 32px;
    height: 8px;
    opacity: 1;
    position: absolute;
}
.custom .trigger-button.right.pressed{
    background: url(https://i.imgur.com/9oe0ckJ.png);
    width: 32px;
    height: 8px;
    opacity: 1;
    position: absolute;
}

/* Analog sticks follow the same principles as the triggers in terms of positioning
Note that the rotation of the sticks in hard coded with javascript, so it applies 
the CSS inline. */
.custom .sticks{
    position: absolute;
    width: 364px;
    height: 105px;
    top: 328px;
    left: 210px;
}
.custom .stick{
    position: absolute;
    background: url(ps3-assets/thumbs.png);
    height:105px;
    width: 105px;
}
.custom .stick.pressed.left{
    background-position-x: -106px;
}
.custom .stick.pressed.right{
    background-position-x: -211px;
}
.custom .stick.left{
    top: 0;
    left: 0;
}
.custom .stick.right{
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}

/*END*/
