/*Genesis Pixel Controller Styling by Animach1ne*/
/* *********************************************************** */
.controller.custom{
    background: url(https://i.imgur.com/ahRKLen.png); 
    height: 234px;
    width: 528px;
}
.custom.disconnected {
    background: url(https://i.imgur.com/Nsr2Pt0.png);
}
.custom.disconnected div {
    display: none;
}
/* *********************************************************** */
.custom .back{
    position: absolute;
    background: url(https://i.imgur.com/qq1rEWq.png);
    height: 234px;
    width: 528px;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.custom .back.pressed{
    opacity: 1;
}
.custom .start{
    position: absolute;
    background: url(https://i.imgur.com/ynn2ks4.png);
    height: 234px;
    width: 528px;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.custom .start.pressed{
    opacity: 1;
}
/* *********************************************************** */
/* base class used to simplify the sprite mapping */
.custom .button.a.pressed{
    position: absolute;
    background: url(https://i.imgur.com/JDkiwgQ.png);
    height: 234px;
    width: 528px;
    top: 0px;
    left: 0px;
    opacity: 1;
}
.custom .button.b.pressed{
    position: absolute;
    background: url(https://i.imgur.com/p068NX8.png);
    height: 234px;
    width: 528px;
    top: 0px;
    left: 0px;
    opacity: 1;
}
.custom .button.y.pressed{
    position: absolute;
    background: url(https://i.imgur.com/I6qrnhR.png);
    height: 234px;
    width: 528px;
    top: 0px;
    left: 0px;
    opacity: 1;
}
/* *********************************************************** */
.custom .face.up{
    position: absolute;
    background: url(https://i.imgur.com/ODnE345.png);
    height: 234px;
    width: 528px;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.custom .face.down{
    position: absolute;
    background: url(https://i.imgur.com/ftwC5ar.png);
    height: 234px;
    width: 528px;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.custom .face.left{
    position: absolute;
    background: url(https://i.imgur.com/orcnD31.png);
    height: 234px;
    width: 528px;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.custom .face.right{
    position: absolute;
    background: url(https://i.imgur.com/VaoNFb6.png);
    height: 234px;
    width: 528px;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.custom .face.pressed{
    opacity: 1;
}
/*END Genesis Pixel Controller Styling*/
