/*Hexagons input viewer by Animach1ne*/

/* Base Attributes */
.controller.custom{
    background: url(https://i.imgur.com/McqD6YL.png);
    width: 676px;
    height: 216px;
}
.custom.disconnected {
    background: url(https://i.imgur.com/EHKbYk2.png);
}

/* Dpad */
.custom .dpad{	
    position: absolute;	
    width: 188px;	
    height: 136px;	
    top: 4px;	
    left: 64px;	
}
.custom .face{
    position: absolute;	
    opacity: 0;
}
.custom .face.up{
    background: url(https://i.imgur.com/UH6SLeN.png);
    width: 76px;
    height: 72px;
    top: 0px;
    left: 60px;
}
.custom .face.down{
    background: url(https://i.imgur.com/Pg1qbBr.png);
    width: 76px;
    height: 72px;
    top: 72px;
    left: 60px;
}
.custom .face.left{
    background: url(https://i.imgur.com/oOgQmcu.png);
    width: 76px;
    height: 72px;
    top: 36px;
    left: 0px;
}
.custom .face.right{
    background: url(https://i.imgur.com/yWCAkQK.png);
    width: 76px;
    height: 72px;
    top: 36px;
    left: 120px;
}
.custom .face.pressed{
    opacity: 1;
}

/* ABXY */
.custom .button{
    width: 76px;
    height: 72px;
    position: absolute;	
    opacity: 0;
}
.custom .button.a.pressed{
    background: url(https://i.imgur.com/SHUeZ6W.png);
    top: 76px;
    left: 484px;
    opacity: 1;
}
.custom .button.b.pressed{
    background: url(https://i.imgur.com/JUhaK9Q.png);
    top: 40px;
    left: 544px;
    opacity: 1;
}
.custom .button.x.pressed{
    background: url(https://i.imgur.com/hMKtGwQ.png);
    top: 40px;
    left: 424px;
    opacity: 1;
}
.custom .button.y.pressed{
    background: url(https://i.imgur.com/Qgj31ao.png);
    top: 4px;
    left: 484px;
    opacity: 1;
}

/* Back & Start */
.custom .back{ 
    position: absolute;
    background: url(https://i.imgur.com/F8tv736.png);
    width: 76px;
    height: 72px;;
    top: 76px;
    left: 4px;
    opacity: 0;
}
.custom .back.pressed{
    opacity: 1;
}
.custom .start{
    position: absolute;
    background: url(https://i.imgur.com/F8tv736.png);
    width: 76px;
    height: 72px;
    top: 76px;
    left: 604px;
    opacity: 0;
}
.custom .start.pressed{
    opacity: 1;
}

/* Bumpers */
.custom .bumper{
    background: url(https://i.imgur.com/F8tv736.png);
    width: 76px;
    height: 72px;
    opacity: 0;
}
.custom .bumpers{
    position: absolute;
    width: 308px;
    height: 72px;
    left: 184px;
    top: 112px;
}
.custom .bumper.pressed{ 
    opacity: 1;
}
.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    -webkit-transform: rotateY(180deg);
    float: right;
}

.custom .triggers{
    width: 188px;
    height: 72px;
    top: 76px;
    left: 244px;
    position: absolute;
} 
.custom .trigger{
    position: absolute;
    opacity: 0;
}
.custom .trigger-button.left.pressed{
    background: url(https://i.imgur.com/F8tv736.png);
    width: 76px;
    height: 72px;
    opacity: 1;
    position: absolute;
}
.custom .trigger-button.right.pressed{
    background: url(https://i.imgur.com/F8tv736.png);
    width: 76px;
    height: 72px;
    top: 0px;
    left: 120px;
    opacity: 1;
    position: absolute;
}

/*Sticks*/
.custom .sticks{
    position: absolute;
    width: 148px;
    height: 28px;
    top: 166px;
    left: 264px;
}
.custom .stick{
    position: absolute;
    background: url(https://i.imgur.com/CRqsEby.png);
    height: 28px;
    width: 28px;
}
.custom .stick.pressed.left{
    background: url(https://i.imgur.com/BXkULXL.png);
    opacity: 1;
}
.custom .stick.pressed.right{
    background: url(https://i.imgur.com/BXkULXL.png);
    opacity: 1;
}
.custom .stick.left{
    top: 0;
    left: 0;
}
.custom .stick.right{
    top: 0px;
    left: 120px;
}

/*END*/
