/*Hexagons input viewer by Animach1ne*/

/* Base Attributes */
.controller.custom{
    background: url(https://i.imgur.com/McqD6YL.png);
    width: 676px;
    height: 216px;
}
.custom.disconnected {
    background: url(https://i.imgur.com/EHKbYk2.png);
}

/* Dpad */
.custom .dpad{	
    position: absolute;	
    width: 188px;	
    height: 136px;	
    top: 4px;	
    left: 64px;	
}
.custom .face{
    position: absolute;	
    opacity: 0;
}
.custom .face.up{
    background: url(https://i.imgur.com/UY703GQ.png);
    width: 68px;
    height: 64px;
    top: 0px;
    left: 60px;
}
.custom .face.down{
    background: url(https://i.imgur.com/DvssjsR.png);
    width: 68px;
    height: 64px;
    top: 72px;
    left: 60px;
}
.custom .face.left{
    background: url(https://i.imgur.com/FQoYw5e.png);
    width: 68px;
    height: 64px;
    top: 36px;
    left: 0px;
}
.custom .face.right{
    background: url(https://i.imgur.com/V2ulUva.png);
    width: 68px;
    height: 64px;
    top: 36px;
    left: 120px;
}
.custom .face.pressed{
    opacity: 1;
}

/* ABXY */
.custom .button{
    width: 68px;
    height: 64px;
    position: absolute;	
    opacity: 0;
}
.custom .button.a.pressed{
    background: url(https://i.imgur.com/bTvufxM.png);
    top: 76px;
    left: 484px;
    opacity: 1;
}
.custom .button.b.pressed{
    background: url(https://i.imgur.com/GC4fcrL.png);
    top: 40px;
    left: 544px;
    opacity: 1;
}
.custom .button.x.pressed{
    background: url(https://i.imgur.com/jPnmawZ.png);
    top: 40px;
    left: 424px;
    opacity: 1;
}
.custom .button.y.pressed{
    background: url(https://i.imgur.com/8nsWkj3.png);
    top: 4px;
    left: 484px;
    opacity: 1;
}

/* Back & Start */
.custom .back{ 
    position: absolute;
    background: url(https://i.imgur.com/s143E7t.png);
    width: 68px;
    height: 64px;;
    top: 76px;
    left: 4px;
    opacity: 0;
}
.custom .back.pressed{
    opacity: 1;
}
.custom .start{
    position: absolute;
    background: url(https://i.imgur.com/s143E7t.png);
    width: 68px;
    height: 64px;
    top: 76px;
    left: 604px;
    opacity: 0;
}
.custom .start.pressed{
    opacity: 1;
}

/* Bumpers */
.custom .bumper{
    background: url(https://i.imgur.com/s143E7t.png);
    width: 68px;
    height: 64px;
    opacity: 0;
}
.custom .bumpers{
    position: absolute;
    width: 308px;
    height: 64px;
    left: 184px;
    top: 112px;
}
.custom .bumper.pressed{ 
    opacity: 1;
}
.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    -webkit-transform: rotateY(180deg);
    float: right;
}

.custom .triggers{
    width: 188px;
    height: 64px;
    top: 76px;
    left: 244px;
    position: absolute;
} 
.custom .trigger{
    position: absolute;
    opacity: 0;
}
.custom .trigger-button.left.pressed{
    background: url(https://i.imgur.com/s143E7t.png);
    width: 68px;
    height: 64px;
    opacity: 1;
    position: absolute;
}
.custom .trigger-button.right.pressed{
    background: url(https://i.imgur.com/s143E7t.png);
    width: 68px;
    height: 64px;
    top: 0px;
    left: 120px;
    opacity: 1;
    position: absolute;
}

/*Sticks*/
.custom .sticks{
    position: absolute;
    width: 160px;
    height: 40px;
    top: 160px;
    left: 258px;
}
.custom .stick{
    position: absolute;
    background: url(https://i.imgur.com/Emg5HPM.png);
    height: 40px;
    width: 40px;
}
.custom .stick.pressed.left{
    background: url(https://i.imgur.com/g284pTv.png);
    opacity: 1;
}
.custom .stick.pressed.right{
    background: url(https://i.imgur.com/g284pTv.png);
    opacity: 1;
}
.custom .stick.left{
    top: 0;
    left: 0;
}
.custom .stick.right{
    top: 0px;
    left: 120px;
}

/*END*/
