/*Mania Input Viewer Styling by Animach1ne*/
/* *********************************************************** */
.controller.custom{
    background: url(https://i.imgur.com/G3yifTW.png);
    height: 224px;
    width: 512px;
}
.custom.disconnected {
    background: url(https://i.imgur.com/CIzJcQD.png);
}
.custom.disconnected div {
    display: none;
}
/* *********************************************************** */
.custom .start{
    position: absolute;
    background: url(https://i.imgur.com/CQek5WG.png);
    width: 60px;
    height: 32px;
    top: 48px;
    left: 392px;
    opacity: 0;
}
.custom .start.pressed{
    opacity: 1;
}
.custom .back{
    position: absolute;
    background: url(https://i.imgur.com/CQek5WG.png);
    width: 60px;
    height: 32px;
    top: 48px;
    left: 300px;
    opacity: 0;
}
.custom .back.pressed{
    opacity: 1;
}
/* *********************************************************** */
.custom .abxy{
    position: absolute;
    width: 256px;
    height: 80px;
    top: 96px;
    left: 248px;
}
/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;
    width:80px;
    height:80px;
    background: url(https://i.imgur.com/S2KM42d.png);
    opacity: 0;
}
.custom .button.a.pressed{
    top: 0px;
    left: 0px;
    opacity: 1;
}
.custom .button.b.pressed{
    top: 0px;
    left: 88px;
    opacity: 1;
}
.custom .button.y.pressed{
    top: 0px;
    left: 176px;
    opacity: 1;
}
/* *********************************************************** */
.custom .dpad{
    position: absolute;
    width: 208px;
    height: 208px;
    top: 8px;
    left: 8px;
}
.custom .face{
    position: absolute;
    opacity: 0;
}
.custom .face.up{
    background: url(https://i.imgur.com/S2KM42d.png);
    width: 80px;
    height: 80px;
    left: 64px;
    top: 0px;
}
.custom .face.down{
    background: url(https://i.imgur.com/S2KM42d.png);
    width: 80px;
    height: 80px;
    left: 64px;
    top: 128px;
}
.custom .face.left{
    background: url(https://i.imgur.com/S2KM42d.png);
    width: 80px;
    height: 80px;
    left: 0px;
    top: 64px;
}
.custom .face.right{
    background: url(https://i.imgur.com/S2KM42d.png);
    width: 80px;
    height: 80px;
    left: 126px;
    top: 64px;
}
.custom .face.pressed{
    opacity: 1;
}
/*END Mania Input Viewer Styling*/
