/*Mania Input Viewer Styling by Animach1ne*/
/* *********************************************************** */
.controller.custom{
    background: url(https://i.imgur.com/7iUr9Uu.png); 
    height: 56px;
    width: 128px;
}
.custom.disconnected {
    background: url(https://i.imgur.com/PNeRGLz.png);
}
.custom.disconnected div {
    display: none;
}
/* *********************************************************** */
.custom .start{
    position: absolute;
    background: url(https://i.imgur.com/zlWMzXk.png);
    width: 15px;
    height: 8px;
    top: 12px;
    left: 75px;
    opacity: 0;
}
.custom .start.pressed{
    opacity: 1;
}
.custom .back{
    position: absolute;
    background: url(https://i.imgur.com/zlWMzXk.png);
    width: 15px;
    height: 8px;
    top: 12px;
    left: 98px;
    opacity: 0;
}
.custom .back.pressed{
    opacity: 1;
}
/* *********************************************************** */
.custom .abxy{
    position: absolute;
    width: 64px;
    height: 20px;
    top: 24px;
    left: 62px;
}
/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;
    width:20px;
    height:20px;
    background: url(https://i.imgur.com/1wuG3u1.png);
    opacity: 0;
}
.custom .button.a.pressed{
    top: 0px;
    left: 0px;
    opacity: 1;
}
.custom .button.b.pressed{
    top: 0px;
    left: 22px;
    opacity: 1;
}
.custom .button.y.pressed{
    top: 24px;
    left: 44px;
    opacity: 1;
}
/* *********************************************************** */
.custom .dpad{
    position: absolute;
    width: 52px;
    height: 52px;
    top: 2px;
    left: 2px;
}
.custom .face{
    position: absolute;
    opacity: 0;
}
.custom .face.up{
    background: url(https://i.imgur.com/1wuG3u1.png);
    width: 20px;
    height: 20px;
    left: 16px;
    top: 0px;
}
.custom .face.down{
    background: url(https://i.imgur.com/1wuG3u1.png);
    width: 20px;
    height: 20px;
    left: 16px;
    top: 32px;
}
.custom .face.left{
    background: url(https://i.imgur.com/1wuG3u1.png);
    width: 20px;
    height: 20px;
    left: 0px;
    top: 16px;
}
.custom .face.right{
    background: url(https://i.imgur.com/1wuG3u1.png);
    width: 20px;
    height: 20px;
    left: 32px;
    top: 16px;
}
.custom .face.pressed{
    opacity: 1;
}
/*END Mania Input Viewer Styling*/
