/*BEGIN N64 Controller Styling*/
/* *********************************************************** */
.controller.custom{
    background: url(https://i.imgur.com/mcXo9hO.png); 
    height: 265px;
    width: 388px;
}
.custom.disconnected {
    background: url(https://i.imgur.com/8leqvhF.png);
}
.custom.disconnected div {
    display: none;
}
/* *********************************************************** */
.custom .stick.left{
    position: absolute;
    width: 44px;
    height: 44px;
    top: 192px;
    left: 171px;
    background: url(https://i.imgur.com/tNTSU7I.png);
}
/* *********************************************************** */
/*END N64 Controller Styling*/
