/*BEGIN N64 Controller Styling*/
/* *********************************************************** */
.controller.custom{
    background: url(https://i.imgur.com/mcXo9hO.png); 
    height: 265px;
    width: 388px;
}
.custom.disconnected {
    background: url(https://i.imgur.com/8leqvhF.png);
}
.custom.disconnected div {
    display: none;
}
/* *********************************************************** */
.custom .trigger{
    position: absolute;
    opacity: 0;
}
.custom .trigger-button.left.pressed{ /* Actually Z */
    background: url(https://i.imgur.com/KuL5QPU.png);
    width:30px;
    height:50px;
    opacity: 1;
    position: absolute;
    left: 179px;
    top: 30px;
}
.custom .trigger-button.right.pressed{ /* Actually A*/
    background: url(https://i.imgur.com/dw83QRr.png);
    width: 44px;
    height: 45px;
    opacity: 1;
    position: absolute;
    left: 291px;
    top: 128px;
}
/* *********************************************************** */
.custom .stick.left{
    position: absolute;
    width: 44px;
    height: 44px;
    top: 192px;
    left: 172px;
    background: url(https://i.imgur.com/tNTSU7I.png);
}
/* *********************************************************** */
.custom .bumper{
    width: 107px;
    height: 44px;
    background: url(https://i.imgur.com/3JaULzK.png);
    opacity: 0;
}
.custom .bumper.pressed{ /* The '.pressed' class is used for most buttons to signify they've been pressed */
    opacity: 1;
}
.custom .bumper.left{
    width: 107px;
    height: 44px;
    background: url(https://i.imgur.com/3JaULzK.png);
    left: 0px;
    top: 0px;
    float: left;
}
.custom .bumper.right{
    width: 107px;
    height: 44px;
    background: url(https://i.imgur.com/3JaULzK.png);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    left: 281px;
    top: 0px;
    float: right;
}
/* *********************************************************** */
.custom .start{
    position: absolute;
    background: url(https://i.imgur.com/R9AB7nP.png);
    width: 326px;
    height: 326px;
    top: 798px;
    left: 1386px;
    opacity: 0;
}
.custom .start.pressed{
    opacity: 1;
}
.custom .back{ /*Actually B*/
    position: absolute;
    background: url(https://i.imgur.com/VbsRoWn.png);
    width: 346px;
    height: 346px;
    top: 764px;
    left: 2065px;
    opacity: 0;
}
.custom .back.pressed{
    opacity: 1;
}
/* *********************************************************** */
.custom .abxy{
    position: absolute;
    width: 618px;
    height: 618px;
    top: 415px;
    left: 2450px;
}
/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;
    width:202px;
    height:202px;
    background: url(https://i.imgur.com/Lo28TOr.png);
    opacity: 0;
}
.custom .button.a.pressed{
    top: 416px;
    left: 208px;
    opacity: 1;
}
.custom .button.x.pressed{
    top: 208px;
    left: 0px;
    opacity: 1;
}
.custom .button.b.pressed{
    top: 208px;
    left: 416px;
    opacity: 1;
}
.custom .button.y.pressed{
    top: 0px;
    left: 208px;
    opacity: 1;
}
/* *********************************************************** */
.custom .dpad{
    position: absolute;
    width: 640px;
    height: 640px;
    top: 536px;
    left: 75px;
}
.custom .face{
    position: absolute;
    opacity: 0;
}
.custom .face.up, .custom .face.down{
    background: url(https://i.imgur.com/pgQAwdy.png);
    width: 240px;
    height: 276px;
}
.custom .face.left, .custom .face.right{
    background: url(https://i.imgur.com/w7GGyf1.png);
    width: 276px;
    height: 240px;
}
.custom .face.up{
    left: 200px;
    top: 0;
}
.custom .face.down{
    left: 200px;
    top: 365px;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.custom .face.left{
    top: 200px;
    left: 0px;
}
.custom .face.right{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    top: 200px;
    left: 364px;
}
.custom .face.pressed{
    opacity: 1;
}
/*END N64 Controller Styling*/
