/*
Nekochan SG2 Gamepad Viewer skin by Animach1ne twitch.tv/animach1ne
Using sprites from Samurai Gunn 2 EA2 7.20.21
samuraigunn2.com
*/

/* Base Nekochan SG2*/

.controller.custom{
    background: url(https://i.imgur.com/Ulp6gPP.png);
    width: 258px;
    height: 143px;
}
.custom.disconnected {
    background: url(https://i.imgur.com/Mvs56ha.png);
}

/* Bumpers */

.custom .bumper{
    background: url(https://i.imgur.com/8uWO38J.png);
    width: 67px;
    height: 31px;
    opacity: 0;
}
.custom .bumpers{
    position: absolute;
    width: 210px;
    height: 31px;
    left: 24px;
    top: 32px;
}
.custom .bumper.pressed{ 
    opacity: 1;
}
.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    -webkit-transform: rotateY(180deg);
    float: right;
}

/* Dpad */

.custom .dpad{	
    position: absolute;	
    width: 60px;	
    height: 60px;	
    top: 73px;	
    left: 10px;	
}
.custom .face{
    position: absolute;	
    background: url(https://i.imgur.com/6Wl3YRN.png);
    width: 17px;
    height: 25px;
    opacity: 0;
}
.custom .face.up{
    top: 0px;
    left: 21px;
}
.custom .face.down{
    -webkit-transform: rotate(180deg);
    top: 35px;
    left: 22px;
}
.custom .face.left{
    -webkit-transform: rotate(270deg);
    top: 18px;
    left: 4px;
}
.custom .face.right{
    -webkit-transform: rotate(90deg);
    top: 17px;
    left: 39px;
}
.custom .face.pressed{
    opacity: 1;
}

/* Back & Start */

.custom .back{ 
    position: absolute;
    background: url(https://i.imgur.com/jTLYCZg.png);
    width: 23px;
    height: 23px;
    top: 89px;
    left: 101px;
    opacity: 0;
}
.custom .back.pressed{
    opacity: 1;
}
.custom .start{
    position: absolute;
    background: url(https://i.imgur.com/5IrON3M.png);
    width: 23px;
    height: 23px;
    top: 89px;
    left: 134px;
    opacity: 0;
}
.custom .start.pressed{
    opacity: 1;
}

/* AB */

.custom .button{
    position: absolute;
    opacity: 0;
}
.custom .button.a.pressed{
    background: url(https://i.imgur.com/C6wGAmj.png);
    width: 16px;
    height: 20px;
    top: 114px;
    left: 211px;
    opacity: 1;
}
.custom .button.b.pressed{
    background: url(https://i.imgur.com/fq9ty8t.png);
    width: 20px;
    height: 16px;
    top: 96px;
    left: 229px;
    opacity: 1;
}

/* XY */

.custom .button.x.pressed{
    background: url(https://i.imgur.com/Vi8cC9A.png);
    width: 20px;
    height: 16px;
    top: 96px;
    left: 189px;
    opacity: 1;
}
.custom .button.y.pressed{
    background: url(https://i.imgur.com/iE1Fiah.png);
    width: 16px;
    height: 20px;
    top: 74px;
    left: 211px;
    opacity: 1;
}

/* Triggers */

.custom .triggers{
    width: 218px;
    height: 34px;
    top: 10px;
    left: 20px;
    position: absolute;
} 
.custom .trigger{
    width:64px;
    height:34px;
    background: url(https://i.imgur.com/xH53Eb6.png);
    opacity: 0;
}

.custom .trigger.left.pressed{ 
    float: left;
    opacity: 1;
}

.custom .trigger.right.pressed{
    -webkit-transform: rotateY(180deg);
    float: right;
    opacity: 1;
}

/*END Nekochan SG2 Input Viewer*/
