/*
Nekochan Hayao v2 SG2 Gamepad Viewer skin by Animach1ne twitch.tv/animach1ne
Using sprites from Samurai Gunn 2 EA2 7.20.21
samuraigunn2.com
*/

/* Base Nekochan Hayao v2 SG2*/

.controller.custom{
    background: url(https://i.imgur.com/11qlejQ.png);
    width: 728px;
    height: 452px;
}
.custom.disconnected {
    background: url(https://i.imgur.com/Q55QIhG.png);
}

/* Bumpers */

.custom .bumper{
    background: url(https://i.imgur.com/xFOUiT8.png);
    width: 268px;
    height: 136px;
    opacity: 0;
}
.custom .bumpers{
    position: absolute;
    width: 600px;
    height: 136px;
    left: 64px;
    top: 16px;
}
.custom .bumper.pressed{ 
    opacity: 1;
}
.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    -webkit-transform: rotateY(180deg);
    float: right;
}

/* Dpad */

.custom .dpad{	
    position: absolute;	
    width: 268px;	
    height: 280px;	
    top: 156px;	
    left:16px;	
}
.custom .face{
    position: absolute;	
    opacity: 0;
}
.custom .face.up{
    top: 0px;
    left: 100px;
    background: url(https://i.imgur.com/dqFvaPB.png);
    width: 68px;
    height: 112px;

}
.custom .face.down{
    top: 168px;
    left: 100px;
    background: url(https://i.imgur.com/9f6gvav.png);
    width: 68px;
    height: 112px;

}
.custom .face.left{
    top: 100px;
    left: 0px;
    background: url(https://i.imgur.com/Rl6oXm2.png);
    width: 100px;
    height: 80px;

}
.custom .face.right{
    top: 100px;
    left: 168px;
    background: url(https://i.imgur.com/xDZdwKp.png);
    width: 100px;
    height: 80px;
}
.custom .face.pressed{
    opacity: 1;
}

/* Back & Start */

.custom .back{ 
    position: absolute;
    background: url(https://i.imgur.com/CFurDiF.png);
    width: 46px;
    height: 58px;
    top: 204px;
    left: 308px;
    opacity: 0;
}
.custom .back.pressed{
    opacity: 1;
}
.custom .start{
    position: absolute;
    background: url(https://i.imgur.com/pwXfsdA.png);
    width: 46px;
    height: 58px;
    top: 204px;
    left: 374px;
    opacity: 0;
}
.custom .start.pressed{
    opacity: 1;
}

/* AB */

.custom .button{
    position: absolute;
    opacity: 0;
}
.custom .button.a.pressed{
    background: url(https://i.imgur.com/0Ovj1Wk.png);
    width: 64px;
    height: 92px;
    top: 344px;
    left: 548px;
    opacity: 1;
}
.custom .button.b.pressed{
    background: url(https://i.imgur.com/VMXSRb0.png);
    width: 80px;
    height: 76px;
    top: 256px;
    left: 632px;
    opacity: 1;
}

/* XY */

.custom .button.x.pressed{
    background: url(https://i.imgur.com/lL1lXIs.png);
    width: 80px;
    height: 76px;
    top: 256px;
    left: 444px;
    opacity: 1;
}
.custom .button.y.pressed{
    background: url(https://i.imgur.com/l6gh0BL.png);
    width: 64px;
    height: 92px;
    top: 156px;
    left: 548px;
    opacity: 1;
}

/*END Nekochan Hayao v2 SG2 Input Viewer*/
