/*
Razer Raion Gamepad Viewer skin by Animach1ne twitch.tv/animach1ne
With the help of BenInSweden https://www.twitch.tv/beninsweden
*/

/* Base Razer Raion */

.controller.custom{
    background: url(https://i.imgur.com/woFAsqp.png);
    width: 1047px;
    height: 613px;
}
.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(https://i.imgur.com/3JU3iRp.png);
}

/* Bumpers */

.custom .bumper{
    background: url(https://i.imgur.com/qUUxRuH.png);
    width: 76px;
    height: 76px;
    opacity: 0;
}
.custom .bumpers{
    position: absolute;
    width: 76px;
    height: 76px;
    left: 788px;
    top: 64px;
}
.custom .bumper.pressed{ /* The '.pressed' class is used for most buttons to signify they've been pressed */
    opacity: 1;
}
.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    float: right;
}

/* Dpad */

.custom .dpad{	
    position: absolute;	
    width: 166px;	
    height: 164px;	
    top: 116px;	
    left: 151px;	
}
.custom .face{
    position: absolute;	
    background: url(https://i.imgur.com/FKK8il3.png);
    width: 40px;
    height: 82px;
    opacity: 0;
}
.custom .face.up{
    top: 0px;
    left: 64px;
}
.custom .face.down{
    -webkit-transform: rotateX(180deg);
    top: 83px;
    left: 64px;
}
.custom .face.left{
    transform-origin: bottom center;
    -webkit-transform: rotate(270deg);
    top: 0px;
    left: 63px; /* Roughly equal to width + width/2 + empty space between left an right */
}
.custom .face.right{
    transform-origin: bottom center;
    -webkit-transform: rotate(90deg);
    top: 0px;
    left: 64px; /* Roughly equal to width + width/2 + empty space between left an right */
}
.custom .face.pressed{
    opacity: 1;
}

/* Back & Start */

.custom .back{ 
    position: absolute;
    background: url(https://i.imgur.com/bi3tXG2.png);
    width: 35px;
    height: 35px;
    top: 53px;
    left: 307px;
    opacity: 0;
}
.custom .back.pressed{
    opacity: 1;
}
.custom .start{
    position: absolute;
    background: url(https://i.imgur.com/bi3tXG2.png);
    width: 35px;
    height: 35px;
    top: 53px;
    left: 707px;
    opacity: 0;
}
.custom .start.pressed{
    opacity: 1;
}

/* AB */

.custom .button{
    position: absolute;
    opacity: 0;
}
.custom .button.a.pressed{
    background: url(https://i.imgur.com/zPm0xe7.png);
    width: 76px;
    height: 76px;
    top: 342px;
    left: 690px;
    opacity: 1;
}
.custom .button.b.pressed{
    background: url(https://i.imgur.com/W67HjVh.png);
    width: 76px;
    height: 76px;
    top: 272px;
    left: 762px;
    opacity: 1;
}

/* XY */

.custom .button.x.pressed{
    background: url(https://i.imgur.com/Sk5RGkW.png);
    width: 76px;
    height: 76px;
    top: 264px;
    left: 629px;
    opacity: 1;
}
.custom .button.y.pressed{
    background: url(https://i.imgur.com/ZnKNPZ4.png);
    width: 76px;
    height: 76px;
    top: 193px;
    left: 700px;
    opacity: 1;
}

/* CZ - Tricking Gamepadviewer to think R2 is a trigger */

 .custom .triggers{
    width: 76px;
    height: 76px;
    top: 221px;
    left: 849px;
    position: absolute;
} 
.custom .trigger{
    position: absolute;
    opacity: 0;
}
.custom .trigger-button.left.pressed{ /* Actually R2 */
    background: url(https://i.imgur.com/A08Nwd1.png);
    width: 76px;
    height: 76px;
    opacity: 1;
    position: absolute;
}
.custom .trigger-button.right.pressed{ /* Actually Nothing */
    background: url(https://i.imgur.com/A08Nwd1.png);
    width: 76px;
    height: 76px;
    opacity: 1;
    position: absolute;
}

/*END Razer Raion Controller Styling*/
