/*Retro-modern input viewer by Animach1ne*/

/* Base Attributes */
.controller.custom{
    background: url(https://i.imgur.com/YsXAP0B.png);
    width: 840px;
    height: 528px;
}
.custom.disconnected {
    background: url(https://i.imgur.com/0ABPVNe.png);
}

/* Dpad */
.custom .dpad{	
    position: absolute;	
    width: 240px;	
    height: 240px;	
    top: 108px;	
    left: 36px;	
}
.custom .face{
    position: absolute;	
    opacity: 0;
}
.custom .face.up{
    background: url(https://i.imgur.com/qz35oVG.png);
    width: 72px;
    height: 108px;
    top: 0px;
    left: 84px;
}
.custom .face.down{
    background: url(https://i.imgur.com/5SaBS1g.png);
    width: 72px;
    height: 108px;
    top: 132px;
    left: 84px;
}
.custom .face.left{
    background: url(https://i.imgur.com/V5H7gS7.png);
    width: 108px;
    height: 72px;
    top: 84px;
    left: 0px;
}
.custom .face.right{
    background: url(https://i.imgur.com/J3A1S75.png);
    width: 108px;
    height: 72px;
    top: 84px;
    left: 132px;
}
.custom .face.pressed{
    opacity: 1;
}

/* ABXY */
.custom .button{
    background: url(https://i.imgur.com/0DbbKfQ.png);
    width: 96px;
    height: 96px;
    position: absolute;	
    opacity: 0;
}
.custom .button.a.pressed{
    top: 252px;
    left: 636px;
    opacity: 1;
}
.custom .button.b.pressed{
    top: 180px;
    left: 708px;
    opacity: 1;
}
.custom .button.x.pressed{
    top: 180px;
    left: 564px;
    opacity: 1;
}
.custom .button.y.pressed{
    top: 108px;
    left: 636px;
    opacity: 1;
}

/* Back & Start */
.custom .back{ 
    position: absolute;
    background: url(https://i.imgur.com/Q56IOvS.png);
    width: 60px;
    height: 60px;
    top: 132px;
    left: 336px;
    opacity: 0;
}
.custom .back.pressed{
    opacity: 1;
}
.custom .start{
    position: absolute;
    background: url(https://i.imgur.com/Q56IOvS.png);
    width: 60px;
    height: 60px;
    top: 132px;
    left: 444px;
    opacity: 0;
}
.custom .start.pressed{
    opacity: 1;
}

/* Bumpers */
.custom .bumper{
    background: url(https://i.imgur.com/UGeD6y2.png);
    width: 240px;
    height: 60px;
    opacity: 0;
}
.custom .bumpers{
    position: absolute;
    width: 768px;
    height: 60px;
    left: 36px;
    top: 24px;
}
.custom .bumper.pressed{ 
    opacity: 1;
}
.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    -webkit-transform: rotateY(180deg);
    float: right;
}

.custom .triggers{
    width: 744px;
    height: 120px;
    top: 384px;
    left: 48px;
    position: absolute;
} 
.custom .trigger{
    position: absolute;
    opacity: 0;
}
.custom .trigger-button.left.pressed{
    background: url(https://i.imgur.com/r3501Pw.png);
    width: 144px;
    height: 120px;
    opacity: 1;
    position: absolute;
}
.custom .trigger-button.right.pressed{
    background: url(https://i.imgur.com/hWYCcsT.png);
    width: 144px;
    height: 120px;
    top: 0px;
    left: 600px;
    opacity: 1;
    position: absolute;
}

/*Sticks*/
.custom .sticks{
    position: absolute;
    width: 336px;
    height: 144px;
    top: 312px;
    left: 252px;
}
.custom .stick{
    position: absolute;
    background: url(https://i.imgur.com/L4FUFxV.png);
    height: 144px;
    width: 144px;
}
.custom .stick.pressed.left{
    background: url(https://i.imgur.com/8aH1fkA.png);
    opacity: 1;
}
.custom .stick.pressed.right{
    background: url(https://i.imgur.com/8aH1fkA.png);
    opacity: 1;
}
.custom .stick.left{
    top: 0;
    left: 0;
}
.custom .stick.right{
    top: calc(100% - 144px);
    left: calc(100% - 144px);
}

/*END*/
