/*
Snackbox Micro Viewer skin by Animach1ne twitch.tv/animach1ne
*/

/* Base Snackbox Micro*/

.controller.custom{
    background: url(https://i.imgur.com/sLZEimw.png);
    width: 708px;
    height: 412px;
}
.custom.disconnected {
    background: url(https://i.imgur.com/OhgmM4u.png);
}

/* Bumpers */

.custom .bumper{
    background: url(https://i.imgur.com/CDxnHm5.png);
    width: 89px;
    height: 89px;
    opacity: 0;
}
.custom .bumpers{
    position: absolute;
    width: 708px;
    height: 412px;
    left: 0px;
    top: 0px;
}
.custom .bumper.pressed{ 
    opacity: 1;
}
.custom .bumper.left{
    top: 51px;
    left: 602px;
    float: left;
}
.custom .bumper.right{
    top: 17px;
    left: 501px;
    float: right;
}

/* Dpad */

.custom .dpad{	
    position: absolute;	
    width: 708px;	
    height: 412px;	
    top: 0px;	
    left: 0px;	
}
.custom .face{
    position: absolute;	
    opacity: 0;
}
.custom .face.up{
    top: 287px;
    left: 251px;
    background: url(https://i.imgur.com/WMTfB3W.png);
    width: 107px;
    height: 107px;

}
.custom .face.down{
    top: 65px;
    left: 123px;
    background: url(https://i.imgur.com/CDxnHm5.png);
    width: 89px;
    height: 89px;

}
.custom .face.left{
    top: 17px;
    left: 64px;
    background: url(https://i.imgur.com/CDxnHm5.png);
    width: 89px;
    height: 89px;

}
.custom .face.right{
    top: 116px;
    left: 215px;
    background: url(https://i.imgur.com/CDxnHm5.png);
    width: 89px;
    height: 89px;
}
.custom .face.pressed{
    opacity: 1;
}

/* AB */

.custom .button{
    position: absolute;
    opacity: 0;
}
.custom .button.a.pressed{
    background: url(https://i.imgur.com/CDxnHm5.png);
    width: 89px;
    height: 89px;
    top: 176px;
    left: 300px;
    opacity: 1;
}
.custom .button.b.pressed{
    background: url(https://i.imgur.com/CDxnHm5.png);
    width: 89px;
    height: 89px;
    top: 123px;
    left: 398px;
    opacity: 1;
}

/* XY */

.custom .button.x.pressed{
    background: url(https://i.imgur.com/CDxnHm5.png);
    width: 89px;
    height: 89px;
    top: 71px;
    left: 306px;
    opacity: 1;
}
.custom .button.y.pressed{
    background: url(https://i.imgur.com/CDxnHm5.png);
    width: 89px;
    height: 89px;
    top: 17px;
    left: 395px;
    opacity: 1;
}

/* Triggers */

 .custom .triggers{
    width: 708px;
    height: 412px;
    top: 0px;
    left: 0px;
    position: absolute;
} 
.custom .trigger{
    position: absolute;
    opacity: 0;
}
.custom .trigger-button.left.pressed{
    background: url(https://i.imgur.com/CDxnHm5.png);
    width: 89px;
    height: 89px;
    left: 602px;
    top: 153px;
    opacity: 1;
    position: absolute;
}
.custom .trigger-button.right.pressed{
    background: url(https://i.imgur.com/CDxnHm5.png);
    width: 89px;
    height: 89px;
    left: 500px;
    top: 123px;
    opacity: 1;
    position: absolute;
}

/*END Snackbox Micro Input Viewer*/
