/*
Spark the Electric Jester Gamepad Viewer skin by Animach1ne twitch.tv/animach1ne
Using sprites from the game
*/

/* Base */

.controller.custom{
    background: url(https://i.imgur.com/zq3P7e4.png);
    width: 532px;
    height: 292px;
}
.custom.disconnected {
    background: url(https://i.imgur.com/NHcwMQt.png);
}

/* Bumpers */

.custom .bumper{
    background: url(https://i.imgur.com/dMg6ueL.png);
    width: 162px;
    height: 109px;
    opacity: 0;
}
.custom .bumpers{
    position: absolute;
    width: 522px;
    height: 109px;
    left: 10px;
    top: 10px;
}
.custom .bumper.pressed{ 
    opacity: 1;
}
.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    -webkit-transform: rotateY(180deg);
    float: right;
}

/* Dpad */

.custom .dpad{	
    position: absolute;	
    width: 131px;	
    height: 131px;	
    top: 151px;	
    left: 61px;	
}
.custom .face{
    position: absolute;	
    opacity: 0;
}
.custom .face.up{
    top: 0px;
    left: 45px;
    background: url(https://i.imgur.com/eTB19tb.png);
    width: 41px;
    height: 65px;

}
.custom .face.down{
    top: 66px;
    left: 45px;
    background: url(https://i.imgur.com/teS4fGI.png);
    width: 41px;
    height: 65px;

}
.custom .face.left{
    top: 45px;
    left: 0px;
    background: url(https://i.imgur.com/BlDYiEl.png);
    width: 65px;
    height: 41px;

}
.custom .face.right{
    top: 45px;
    left: 66px;
    background: url(https://i.imgur.com/gqegoHz.png);
    width: 65px;
    height: 41px;
}
.custom .face.pressed{
    opacity: 1;
}

/* Back & Start */

.custom .back{ 
    position: absolute;
    background: url(https://i.imgur.com/Z0kCBqF.png);
    width: 72px;
    height: 30px;
    top: 84px;
    left: 186px;
    opacity: 0;
}
.custom .back.pressed{
    opacity: 1;
}
.custom .start{
    position: absolute;
    background: url(https://i.imgur.com/uemOWed.png);
    width: 72px;
    height: 30px;
    top: 84px;
    left: 274px;
    opacity: 0;
}
.custom .start.pressed{
    opacity: 1;
}

/* AX */

.custom .button{
    position: absolute;
    opacity: 0;
}
.custom .button.a.pressed{
    background: url(https://i.imgur.com/ri6ETMj.png);
    width: 96px;
    height: 96px;
    top: 186px;
    left: 409px;
    opacity: 1;
}
.custom .button.x.pressed{
    background: url(https://i.imgur.com/ri6ETMj.png);
    width: 96px;
    height: 96px;
    top: 151px;
    left: 307px;
    opacity: 1;
}

/* END */
