/*
Soda Powered Penguin input viewer skin by Animach1ne twitch.tv/animach1ne
*/

/* Base */

.controller.custom{
    background: url(https://i.imgur.com/tpe7QdL.png);
    width: 528px;
    height: 152px;
}
.custom.disconnected {
    background: url(https://i.imgur.com/v5Rwqob.png);
}

/* Dpad */

.custom .dpad{	
    position: absolute;	
    width: 528px;	
    height: 152px;	
    top: 0px;	
    left: 0px;	
}
.custom .face{
    position: absolute;	
    opacity: 0;
}
.custom .face.up{
    top: 0px;
    left: 0px;
    background: url(https://i.imgur.com/27Xe1xg.png);
    width: 528px;
    height: 152px;

}
.custom .face.down{
    top: 0px;
    left: 0px;
    background: url(https://i.imgur.com/frMLw0n.png);
    width: 528px;
    height: 152px;

}
.custom .face.left{
    top: 0px;
    left: 0px;
    background: url(https://i.imgur.com/87nQ72G.png);
    width: 528px;
    height: 152px;
}
.custom .face.right{
    top: 0px;
    left: 0px;
    background: url(https://i.imgur.com/BtHdEQJ.png);
    width: 528px;
    height: 152px;
}
.custom .face.pressed{
    opacity: 1;
}

/* Start */

.custom .start{ 
    position: absolute;
    background: url(https://i.imgur.com/WAlAkIr.png);
    width: 528px;
    height: 152px;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.custom .start.pressed{
    opacity: 1;
}

/* ABXY - SAJB */

.custom .button{
    position: absolute;
    opacity: 0;
}
.custom .button.a.pressed{
    background: url(https://i.imgur.com/js5koXp.png);
    width: 528px;
    height: 152px;
    top: 0px;
    left: 0px;
    opacity: 1;
}
.custom .button.b.pressed{
    background: url(https://i.imgur.com/PZyFvt7.png);
    width: 528px;
    height: 152px;
    top: 0px;
    left: 0px;
    opacity: 1;
}
.custom .button.x.pressed{
    background: url(https://i.imgur.com/Y75OF61.png);
    width: 528px;
    height: 152px;
    top: 0px;
    left: 0px;
    opacity: 1;
}
.custom .button.y.pressed{
    background: url(https://i.imgur.com/NHdYIK4.png);
    width: 528px;
    height: 152px;
    top: 0px;
    left: 0px;
    opacity: 1;
}

/* END */
